# Data files
data/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Poetry
poetry.lock
